.todo-list {
  position: relative;
  height: 100%;
  width: 80%;
  max-width: 600px;
}

.todo-form {
  display: flex;
  padding-bottom: 10px;
}

.todo-input,
.todo-submit {
  border: none;
}

.todo-input {
  flex: 1 1 auto;
  padding: 8px 10px;
  margin: 0;
}

.todo-submit {
  flex: 0 1 100px;
  background-color: #A4A4A4;
  margin: 0;
  padding: 8px 10px;
}

.task-list {
  height: 100%;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.task-header {
  display: flex;
  justify-content: center;
}

.task {
  padding: 10px 20px;
}

.task:not(last-child) {
  border-bottom: 1px solid black;
}

.task-main {
  display: flex;
  align-items: baseline;
}

.task-header .drag-handle {
  cursor: grab;
  color: grey;
}

.task-header .drag-handle:active {
  cursor: grabbing;
}

.task-body {
  font-size: 14px;
  padding: 10px 0;
}

.task-options {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.task-option {
  opacity: 0;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

.task:hover .task-option {
  opacity: 1;
  animation: fade-in-up 0.2s forwards;
}

.task-option:hover {
  color: black;
}

.task-option:not(:last-child) {
  padding-right: 6px;
}

@media only screen and (max-width: 600px) {
  .todo-form {
    flex-direction: column;
  }

  .todo-input, .todo-submit {
    width: 100%;
    flex: none;
  }

  .task-list ul {
    overflow: unset;
  }

  .task .task-option {
    opacity: 1;
    color: black;
  }
}


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}