.tab-bar {
  position: absolute;
  bottom: -30px;
  background-color: white;
  display: flex;
  height: 30px;
}

.tab {
  background-color: #1E1E1E;
  padding: 5px 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.tab.active {
  background-color: #1E1E3D;
}

.tab:nth-of-type(1) {
  border-left: 1px solid black;
}

.tab-create {
  background-color: #1E1E1E;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}