.App {
  position: relative;
  display: flex;
  flex-direction: row;
  color: white;
}

header {
  position: absolute;
  min-height: 100px;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  z-index: 3;
  box-shadow: 2px 2px black;
}

header.hover-to-show {
  opacity: 0;
}

header.hover-to-show:hover {
  opacity: 1;
}

.section {
  overflow: auto;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1 1 auto;
}

.section-one {
  position: relative;
  resize: horizontal;
  background-color: #0F0F0F;
  /* border-right: 1px solid rgb(30, 30, 30); */
  order: 1;
}

.section-two {
  position: relative;
  top: 0;
  background-color: #131313;
  order: 2;
}

p {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 601px) {
  .section {
    height: 100vh;
    padding: 150px 0;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
  .section {
    width: 100%;
    position: relative;
    top: 100px;
    padding: 30px 0;
  }
  .section-one {
    resize: none;
    min-height: unset;
    left: 0;
    z-index: 2;
    border: none;
    border-bottom: 1px solid rgb(30, 30, 30);
  }
  .section-two {
    position: relative;
    z-index: 1;
    left: 0;
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}